/*main line*/
.line{
    position:absolute;
    top:6%;
    left:0%;
    width:100%;
    height:11%;
    background-color:#0052cc;
    }

.ikonka{
    position:absolute;
    top:-140px;
    left:-100px;
    width:600px;
    height:auto;

    }

.noutbook{
    position:absolute;
    top:110px;
    left:4%;
    width:45px;
    height:auto;
    }
.telefon{
    position:absolute;
    top:160px;
    left:67px;
    width:35px;
    height:auto;
}
.games{
    position:absolute;
    top:208px;
    left:70px;
    width:26px;
    height:auto;
    opacity: 0.8;
    pointer-events: none;

    }

.sport{
    position:absolute;
    top:240px;
    left:70px;
    width:30px;
    height:auto;
    }

.clothes{
    position:absolute;
    top:280px;
    left:70px;
    width:30px;
    height:auto;
    }
.clean{
    position:absolute;
    top:320px;
    left:70px;
    width:35px;
    height:auto;
    }
.pets{
    position:absolute;
    top:360px;
    left:74px;
    width:26px;
    height:auto;
    }
.kosmetuka{
    position:absolute;
    top:400px;
    left:70px;
    width:30px;
    height:auto;
    }
.helth{
    position:absolute;
    top:440px;
    left:70px;
    width:30px;
    height:auto;
    }



.linetovar{
    position:absolute;
    top:118px;
    left:346px;
    height:1320px;
    width:2px;
    background-color:#669999;
    opacity:0.05;
    }


.lineleft{
    position:absolute;
    top:550px;
    left:0px;
    height:2px;
    width:348px;
    background-color:#669999;
    opacity:0.05;
    }



.lineleft1{
    position:absolute;
    top:770px;
    left:0px;
    height:1.5px;
    width:348px;
    background-color:#669999;
    opacity:0.2;
    }

.lineleft2{
    position:absolute;
    top:1075px;
    left:0px;
    height:1.5px;
    width:348px;
    background-color:#669999;
    opacity:0.1;
    }


.lineleft3{
    position:absolute;
    top:1280px;
    left:0px;
    height:1.5px;
    width:348px;
    background-color:#669999;
    opacity:0.1;
    }




.Noutbook{
    position:absolute;
    top:170px;
    left:8%;
    color:black;
    text-decoration:none;


    }

.Noutbook:hover {
    color:#0099e6;
    }

.Phone{
    position:absolute;
    top:213px;
    left:8%;
    color:black;
    text-decoration:none;


    }

.Phone:hover {
    color:#0099e6;
    }

    .Games{
    position:absolute;
    top:253px;
    left:8%;
    color:black;
    text-decoration:none;


    }

.Games:hover {
    color:#0099e6;
    }

    .Sport{
    position:absolute;
    top:293px;
    left:8%;
    color:black;
    text-decoration:none;


    }

.Sport:hover {
    color:#0099e6;
    }


    .Clothes{
    position:absolute;
    top:333px;
    left:8%;
    color:black;
    text-decoration:none;


    }

.Clothes:hover {
    color:#0099e6;
    }

    .Clean{
    position:absolute;
    top:373px;
    left:8%;
    color:black;
    text-decoration:none;


    }

.Clean:hover {
    color:#0099e6;
    }

    .Pets{
    position:absolute;
    top:413px;
    left:8%;
    color:black;
    text-decoration:none;


    }

.Pets:hover {
    color:#0099e6;
    }


.Kosmetika{
    position:absolute;
    top:453px;
    left:8%;
    color:black;
    text-decoration:none;


    }

.Kosmetika:hover {
    color:#0099e6;
    }

    .Helth{
    position:absolute;
    top:493px;
    left:8%;
    color:black;
    text-decoration:none;


    }

.Helth:hover {
    color:#0099e6;
    }

.techpodderhka{
    position:absolute;
    top:42px;
    right:0px;
    height:60px;
    padding: 8px 19px;
    width:auto;
    }




.techpodderhka:hover {
    background-color: #0099e6;

}


.profile{
    position:absolute;
    top:42px;
    right:100px;
    height:9%;
    padding: 7px 19px;
    width:auto;
    }

.profile:hover {
    background-color: #0099e6;
}






html, body {
  height: 100%;
}

.wrap {
  height: 100%;
  display: flex;
  top:50%;
  left:80%px;
}

.button {
  min-width: 300px;
  min-height: 60px;
  display: inline-flex;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  top:400px;
  left:20px;
  }

.button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover,
.button:focus {
  color: #313133;
  transform: translateY(-6px);
}

.button:hover::before,
.button:focus::before {
  opacity: 1;
}

.button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.button:hover::after,
.button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.pole{
    position:absolute;
    width:300px;
    height:200px;
    top:140px;
    left:20px;
    resize:none;
    border:2px solid #004080;
    border-radius:10px;
    font-style: italic;
    }

.pole:hover{
    outline:none;
    border-color:#80bfff;
    box-shadow:0 0 20px #80bfff;
    }


.halochka{
    position:absolute;
    width:500px;
    height:auto;
    left:30%;
    top:20%;

    }

.otvet1{
    position:absolute;
    font-family:Playfair Display;
    font-size:50px;
    top:400px;
    left:420px;


    }


.otvet2{
    position:absolute;
    font-family:Playfair Display;
    top:470px;
    left:405px;
    font-size:50px;
    }

.domik:hover {
    background-color: #0099e6;

}


.domik{
    position:absolute;
    top:42px;
    right:0px;
    height:9%;
    padding: 7px 19px;
    width:auto;
    }


  body, html {
    height: 100%;
    margin: 0;
}

.pole1 {
    position: absolute;
    width: 600px;
    height: 43px;
    top: 8.5%;
    left: 28%;
    resize: none;
    border: 2px solid #fff;
    border-radius: 5px;
    font-style: italic;
    font-size: 20px;
    box-sizing: border-box;
    text-indent: 55px;
}

.pole1::placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}





.lupa{
    position:absolute;
    width:30px;
    height:auto;
    top:65px;
    left:440px;
    }





body {

}
.shine-button {
  text-decoration: none;
  display: inline-block;
  top:-1331px;
  left:1010px;
  padding: 10px 30px;
  width:60px;
  height:20px;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  border: 2px solid #8cff66 ;

  font-family: 'Montserrat', sans-serif;
  color: #fff;
  transition: .2s ease-in-out;
}
.shine-button:before {
  content: "";
  background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));

  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}
.shine-button:hover {
  background: #8cff66;
  color:#fff;
}
.shine-button:hover:before {
  left: 150px;
  transition: .5s ease-in-out;
}

.shine-button { background: #8cff66 ; }

.play{
    position:absolute;
    top:680px;
    left:50px;
    width:100px;
    height:auto;
    }


.app{
    position:absolute;
    top:680px;
    left:200px;
    width:100px;
    height:auto;
    }

.apps{
    position:absolute;
    font-size:17px;
    color:#52527a;
    opacity:0.9;
    top:600px;
    left:45px;
    font-family:Consolas;
    }



.pro-nas{
    position:absolute;
    font-size:17px;
    color:#52527a;
    opacity:0.9;
    top:800px;
    left:60px;
    font-family:Consolas;
    }

.pro-nas2-0{
    position:absolute;
    font-size:17px;
    color:#52527a;
    opacity:0.7;
    top:850px;
    left:60px;
    font-family:lucida sans console;
    }

.sayt{
    position:absolute;
    font-size:17px;
    color:#52527a;
    opacity:0.7;
    top:900px;
    left:60px;
    font-family:lucida sans console;
    }


.kontakti{
    position:absolute;
    font-size:17px;
    color:#52527a;
    opacity:0.7;
    top:950px;
    left:60px;
    font-family:lucida sans console;
    }

.vakanciy{
    position:absolute;
    font-size:17px;
    color:#52527a;
    opacity:0.7;
    top:1000px;
    left:60px;
    font-family:lucida sans console;
    }

.dopomoha{
    position:absolute;
    font-size:17px;
    color:#52527a;
    opacity:0.9;
    top:1100px;
    left:60px;
    font-family:Consolas;
    }



.dost-oplata{
    position:absolute;
    font-size:17px;
    color:#52527a;
    opacity:0.7;
    top:1150px;
    left:60px;
    font-family:lucida sans console;
    }


.pov-tovar{
    position:absolute;
    font-size:17px;
    color:#52527a;
    opacity:0.7;
    top:1200px;
    left:60px;
    font-family:lucida sans console;
    }



.tech-world{
    position:absolute;
    top:1320px;
    left:60px;
    width:200px;
    height:auto;
    }

.tm{
    position:absolute;
    top:1310px;
    left:265px;
    width:30px;
    height:auto;
    opacity:0.5
    }


.mova{
    position:absolute;
    width:70px;
    height:auto;
    top:42px;
    padding: 8px 13px;
    left:1220px;
    }




.mova:hover {
    background-color: #0099e6;

}

.nav {
            width: 100%;
            text-align: right;
            padding: 10px;
        }

        .dropdown {
            position: relative;
            display: inline-block;
            margin-left: 2000px;
        }

        .dropdown a.item {
            display: inline-block;
            padding: 5px;
            text-decoration: none;
            position: relative;
        }

        .dropdown a.item:hover {
            box-shadow: 0 0 10px #00f;
        }

        .dropdown a.item img {


            position: relative;
            top: -1350px;
            left:500px;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 120px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            left: 0;
            top: 100%;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown-content a {
            color: black;
            padding: 10px 16px;
            text-decoration: none;
            display: block;
        }
                .dropdown a.item img {
                    height: 100%;

        }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }